/* .dashboard-welcome h4 {
  color: grey;
  text-align: center;
} */

.main {
  background-color: #fcf4ef;
  min-height: 100vh;
}

.dashboard-layout {
  padding: 20px 20px 50px 20px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.dashboard-fullscreen {
  margin-left: 30px;
}

.dashboard-sidebar {
  margin-left: 230px;
}

.sidebar-layout {
  position: fixed;
}

@media (min-width: 600px) {
  .dashboard-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .dashboard-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}
