#body {
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header {
  background-color: #f4511e;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  color: white;
  width: 100%;
  text-align: center;
  height: 160px;
  padding-top: 40px;
  margin-bottom: 4rem;
}

.header-title {
  font-size: 50px;
}

.app-logo {
  margin-bottom: 20px;
}

.header-text {
  font-size: 20px;
  margin-top: 2rem;
}

.section {
  flex-flow: row wrap;
  width: 90%;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
}

.section > div {
  padding: 30px;
}

.small-div {
  width: 20%;
}

.landing-image {
  height: 600px;
  width: auto;
  position: absolute;
  top: 150px;
}

.big-div {
  width: 60%;
}

.big-div span {
  width: 200px !important;
}

.bg-grey {
  background-color: #f6f6f6;
}

.orange {
  color: #f4511e;
}

.div-title {
  font-size: 30px;
  font-weight: 600;
}

.contact-container {
  flex-flow: column;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.div-title {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: row;
  /*flex-flow: row wrap;*/
  justify-content: space-between;
  width: 100%;
}

#sect1 {
  width: 100%;
  text-align: center;
}

#sect2 {
  width: 100%;
}

.contact-form > div {
  width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

textarea {
  padding: 10px;
  border-radius: 5px;
}

.input-field {
  height: 40px;
  margin: 15px 0;
}

.contact-btn {
  margin-top: 15px;
  height: 40px;
  color: white;
  border: 0;
  border-radius: 5px;
  background-color: #f4511e;
}

.landing-page-content {
  position: relative;
}

.landing-page-heading {
  font-size: 50px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.landing-page-form {
  position: absolute;
  /* top: 5px; */
  top: 40px;
  right: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 725px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    /*flex-flow: row wrap;*/
    width: 80%;
  }

  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .small-div {
    width: 80%;
  }
}
