.members {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-between;
  max-height: 300px;
  width: auto;
}

.team-component .card-title {
  background-color: var(--color-6) !important;
  color: white;
}
