/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .profile-info {
    width: 90vw;
    height: auto;
    margin: 20px 20px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .profile-info {
    width: 60vw;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1500px) {
  .profile-info {
    width: 70vw;
    height: auto;
  }
}

.header-info {
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.header-info .profile-pen {
  cursor: pointer;
}

.header-info h5 {
  padding: 15px !important;
  font-size: 2rem !important;
}

.header-info p {
  padding: 15px !important;
  margin-top: 0px !important;
}

.profile-image {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
.profile-image img {
  height: 120px;
  width: 120px;
}

.profile-image .logged-in {
  background: #44b700;
  position: absolute;
  top: 80px;
  border: 2px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  bottom: 0;
  right: 110px;
  /* z-index: 1; */
}

.profile-image .logged-out {
  background: #d72121;
  position: absolute;
  top: 80px;
  border: 2px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  bottom: 0;
  right: 110px;
  /* z-index: 1; */
}

.profile-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.profile-welcome {
  font-size: 1rem !important;
  text-align: center;
}

.profile-info {
  border: 0.3px solid rgb(247, 245, 245);
  border-radius: 15px;
  margin-top: 50px;
  line-height: 2rem;
  -webkit-box-shadow: 10px 10px 15px -2px rgba(168, 163, 168, 1);
  -moz-box-shadow: 10px 10px 15px -2px rgba(168, 163, 168, 1);
  box-shadow: 10px 10px 15px -2px rgba(168, 163, 168, 1);
}

.profile-info p {
  margin-top: 20px;
  padding-left: 15px;
}

.profile-container {
  border-top: 1px solid grey;
  margin: 0 auto;
  padding: 10px;
  width: 60%;
}
.profile-container.top-content {
  border: none !important;
  margin: 0 auto;
  padding: 10px;
  width: 60%;
}
.profile-container-title {
  display: inline-flex;
}

.profile-container-title h3 {
  color: var(--color-7) !important;
}

.profile-container-title button {
  margin-left: 10px !important;
  background-color: var(--color-7);
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.profile-container-title button:hover {
  background: var(--color-lighter-6);
}

.profile-container-content {
  display: flex;
}

.profile-info .profile-container p {
  color: var(-color--5);
  margin: 0 !important;
  padding-left: 10px !important;
}
