.avatar-card {
  text-align: center;
  position: relative;
  width: 130px;
}

.avatar-name {
  color: black;
  font-size: 1rem;
  padding-left: 5px;
}

.name-remote {
  display: flex;
  line-height: 1rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.avatar-image {
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.normal-size {
  height: 100px;
  width: 100px;
}

.small-size {
  height: 50px;
  width: 50px;
}

.logged-in {
  background: #44b700;
  position: absolute;
  top: 80px;
  border: 2px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  bottom: 0;
  right: 90px;
  /* z-index: 1; */
}

.logged-out {
  background: #d72121;
  position: absolute;
  top: 80px;
  border: 2px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  bottom: 0;
  right: 90px;
  /* z-index: 1; */
}

.logged-in .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: white;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 2px;

  /* Position the tooltip */
  position: absolute;
  z-index: 99;
}

.logged-in:hover .tooltiptext {
  visibility: visible;
}

.logged-out .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: white;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 2px;

  /* Position the tooltip */
  position: absolute;
  z-index: 99;
}

.logged-out:hover .tooltiptext {
  visibility: visible;
}

.home .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: white;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  position: absolute;
  z-index: 99;
}

.home:hover .tooltiptext {
  visibility: visible;
}

.office .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: white;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  position: absolute;
  z-index: 99;
}

.office:hover .tooltiptext {
  visibility: visible;
}

.avatar-card {
  display: inline-flex;
}

.avatar-name {
  font-size: 1rem;
}