.avatar-card {
  text-align: center;
  position: relative;
  width: 130px;
  padding: 10px;
  padding-bottom: 0;
}

.avatar-name {
  color: black;
}

.avatar-image {
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.normal-size {
  height: 100px;
  width: 100px;
}

.small-size {
  height: 50px;
  width: 50px;
}

.logged-in {
  background: #44b700;
  position: absolute;
  top: 80px;
  border: 2px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  bottom: 0;
  left: 90px;
  /* z-index: 1; */
}

.logged-out {
  background: #d72121;
  position: absolute;
  top: 80px;
  border: 2px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  bottom: 0;
  left: 90px;
  /* z-index: 1; */
}

.logged-in .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: transparent;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 99;
}

.logged-in:hover .tooltiptext {
  visibility: visible;
}

.logged-out .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: transparent;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 99;
}

.logged-out:hover .tooltiptext {
  visibility: visible;
}

.home .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: transparent;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 99;
}

.home:hover .tooltiptext {
  visibility: visible;
}

.office .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: transparent;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 99;
}

.office:hover .tooltiptext {
  visibility: visible;
}