nav ul {
  list-style: none;
  text-align: center;
}

nav {
  width: auto !important;
  float: right !important;
}

nav li {
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  font-size: 1rem;
  height: 30px !important;
  /* line-height: 68px; */
  margin-left: 10px;
  background: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
nav p {
  padding: 5px;
  background-color: var(--color-2);
}

ul .dropdown button {
  background: none;
  color: #ffffff;
  height: 30px;
  width: 120px;
  font-size: 1rem;
  display: none;
}

ul:hover .dropdown button {
  display: block;
  border-top: 1px solid #fff;
}

ul:hover .dropdown li:nth-child(1) {
  animation: animate 300ms ease-in-out;
}

ul:hover .dropdown li:nth-child(2) {
  animation: animate 450ms ease-in-out;
}

ul:hover .dropdown li:nth-child(3) {
  animation: animate 600ms ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-60px);
  }

  80% {
    transform: scale(1.2) translateY(10px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
