.card {
  flex: 0 1 30%;
  min-width: 300px;
  background-color: #fff;
  margin: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(101, 76, 79, 0.2);
  -moz-box-shadow: 5px 5px 15px 0px rgba(101, 76, 79, 0.2);
  box-shadow: 5px 5px 15px 0px rgba(101, 76, 79, 0.2);
}

.card-title {
  font-family: 'Roboto Slab', serif;
  display: block;
  border-radius: 15px 15px 0 0;
  text-align: center;
  margin: 0px;
  background-color: #f9c74f;
  width: 100%;
}

.card-title h5 {
  padding-top: 10px;
  margin: 0;
}

.card-title p {
  margin: 0;
}

.card-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
}
