.dashboard-welcome h4 {
  color: grey;
  text-align: center;
}

.main {
  background-color: #fcf4ef;
}

.dashboard-layout {
  column-count: 3;
  column-gap: 10px;
  padding: 20px;
  transition: 0.8s ease;
}

.dashboard-fullscreen {
  margin-left: 30px;
}

.dashboard-sidebar {
  margin-left: 230px;
}

.sidebar-layout {
  position: fixed;
}
