.latest-hires {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  /* text-align: center; */
  color: black;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 0 15px; */
  overflow: auto;
  max-height: 350px;
  align-items: flex-start;
}

.latest-hires img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}
