.latest-hires {
  display: flex;
  flex-wrap: wrap;
  color: black;
  flex-direction: column;
  overflow: auto;
  max-height: 350px;
}

.latest-hires img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.latest-hired-card {
  text-align: center;
  width: 130px;
  padding: 10px;
  height: 150px;
}

.latest-hired-name p {
  color: grey;
}