.latest-hires {
  display: flex;
  flex-wrap: wrap;
  color: black;
  flex-direction: column;
  overflow: auto;
  max-height: 350px;
}

.latest-hired-card {
  /* text-align: center; */
  width: 130px;
  padding: 10px;
  height: 150px;
}

.latest-hired-name {
  text-align: center;
  color: grey;
  font-size: 12px;
}

.latest-hires-component .card-title {
  background-color: var(--color-3) !important;
}
