.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #fff;
  padding: 15px 35px;
  height: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 3px 15px -2px rgba(168, 163, 168, 0.51);
  -moz-box-shadow: 7px 3px 15px -2px rgba(168, 163, 168, 0.51);
  box-shadow: 7px 3px 15px -2px rgba(168, 163, 168, 0.51);
}

.Modal h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.Modal button {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #43aa8b;
  color: #fff;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border: 0px;
}

.Modal:focus {
  outline: 0;
}

.Modal button:focus {
  outline: 0;
}

.Modal hr {
  border: 1px solid #43aa8b;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Modal {
    margin: 0 150px;
  }
}

.Overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7bcbe;
}

[type='file'] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type='file'] + label {
  background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding-left: 2rem 4rem;
  font-family: 'Roboto Slab', serif;
}

[type='file']:focus + label,
[type='file'] + label:hover {
  background-color: #f15d22;
}

[type='file']:focus + label {
  outline: 1px dotted #000;
}
