.members {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  /* text-align: center; */
  color: black;
  flex-direction: row;
  justify-content: space-around;
  /* padding: 0 15px; */
  overflow: auto;
  max-height: 350px;
}

.team-component .card-title{
  background-color: var(--color-6) !important;
}