/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .profile-info {
      width: 90vw;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .profile-info {
      width: 600px;
    }
  }

  .profile-image img {
    float: right;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  box-shadow: 2px 7px red;
  }
  
  .profile-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.profile-welcome {
    font-size: 1rem !important;
    text-align: left;
}

.profile-bio {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
}

.profile-bio p {
    color: grey;
}

.profile-info {
    border: 1px solid grey;
    border-radius: 5px;
    /* width: 400px; */
    padding: 15px;
  }