.side-bar {
  height: 100vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 500;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: rgba(64, 194, 133, 0.693);
  background-color: rgb(255, 255, 255);
  transition: 0.8s ease;
  z-index: 99;
}

.side-bar .ahoy-dashboard {
  background-color: red;
  color: white;
}

.side-bar p {
  text-align: center;
  /* padding-left: 1rem; */
  /* line-height: 4rem; */
  margin: 0 auto;
}

.side-bar a {
  /* text-align: center; */
  padding-left: 20%;
  line-height: 4rem;
  margin: 0;
  color: #577590;
}

.side-bar span {
  display: inline-flex;
  align-items: center;
}

.sidebar-icon {
  font-size: 1.2em;
}

.sign-out {
  /* text-align: center; */
  padding-left: 20%;
  line-height: 4rem;
  margin: 0;
  color: #577590;
  position: fixed;
  bottom: 0;
  /* margin-top: 200px; */
}

.sign-out a:hover {
  color: red !important;
  background-color: white !important;
}

.side-bar img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.side-bar p {
  color: black;
}

.side-bar a:hover {
  background-color: orange;
  color: white;
}

.toggle-menu {
  height: 50px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 25px;
  position: absolute;
  outline: none;
  z-index: 1;
  background-color: rgba(64, 194, 133, 0.693);
  border-color: rgba(64, 194, 133, 0.693);
}

.avatar-section {
  display: flex;
  align-items:center;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  padding-bottom: 12px;
  padding-top: 20px;
}


nav ul {
  list-style: none;
  text-align: center;
}

nav {
  width: auto !important;
  float: right !important;
}

nav li {
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  font-size: 1rem;
  height: 30px !important;
  /* line-height: 68px; */
  background: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
nav p {
  padding: 5px;
  color: white;
  background-color: var(--color-2);
}

ul .dropdown button {
  background: none;
  color: #ffffff;
  height: 30px;
  width: 100%;
  font-size: 1rem;
  display: none;
}

ul:hover .dropdown button {
  display: block;
  border-top: 1px solid #fff;
}

ul:hover .dropdown li:nth-child(1) {
  animation: animate 300ms ease-in-out;
}

ul:hover .dropdown li:nth-child(2) {
  animation: animate 450ms ease-in-out;
}

ul:hover .dropdown li:nth-child(3) {
  animation: animate 600ms ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-60px);
  }

  80% {
    transform: scale(1.2) translateY(10px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}