.img-fullsize {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.fika-component .card-title {
  background-color: var(--color-lighter-7) !important;
  color: black;
}

.pong-component .card-title {
  background-color: var(--color-4) !important;
}
